.flex-container {
  display: flex;
  background-color: #436D9B;
  margin: 0;
  padding: 0;
}
  
.card {
  display: inline-block;
  border-style: 1px solid #B6DEFA;
  background-color: #436D9B;
  height: 5rem;
  width: 10%;
  text-align: center;
}

