.flex-container {
  display: flex;
  margin: 0;
  padding: 0;
}
  
.card {
  display: inline-block;
  text-align: center;
  height: 5rem;
  width: 12.5%;  
  background-color: #436D9B; 
  color: #2786DA;  
  border-color: #2B4059;
}

.card:hover {
  background-color: #2B4059; 
} 

.card-icon {
  color: #B6DEFA;
}

